.field{
    display: flex;
    justify-content: space-around;
}

.ball{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: red;
}

.basket{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}